[project]
	description = blog content
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sagar Nikam (sagarnikam123)
[access "refs/for/refs/*"]
	read = group user/Sagar Nikam (sagarnikam123)
	push = group user/Sagar Nikam (sagarnikam123)
	label-Code-Review = -2..+2 group user/Sagar Nikam (sagarnikam123)
	label-Verified = -1..+1 group user/Sagar Nikam (sagarnikam123)
	rebase = group user/Sagar Nikam (sagarnikam123)
	removeReviewer = group user/Sagar Nikam (sagarnikam123)
	submit = group user/Sagar Nikam (sagarnikam123)
[access "refs/heads/*"]
	read = group user/Sagar Nikam (sagarnikam123)
	create = group user/Sagar Nikam (sagarnikam123)
	push = +force group user/Sagar Nikam (sagarnikam123)
	pushMerge = group user/Sagar Nikam (sagarnikam123)
[access "refs/tags/*"]
	push = +force group user/Sagar Nikam (sagarnikam123)
	pushTag = group user/Sagar Nikam (sagarnikam123)
	pushSignedTag = group user/Sagar Nikam (sagarnikam123)
